/*=============== REUSABLE CSS CLASSES ===============*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font-family-regular);
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 10px 20px;
	background-color: var(--main-1);
	border-radius: 20px;

	&__text {
		font-family: var(--font-family-bold);
		font-weight: 700;
		color: var(--color-white);
		font-size: 20px;
		text-align: center;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	// max-width: 1920px;
	margin: 0 auto;
	align-items: center;
	position: relative;
	background-color: var(--color-white);
	overflow-x: hidden;
}

.menu-container {
	max-width: 1120px;
	margin-inline: 1.5rem;
}

.page-container {
	// width: 100%;
	// max-width: 100%;
	// margin: 0 auto;
	// align-items: center;
	// position: relative;
	// background-color: var(--color-primary);
	display: flex;
	flex-direction: column;
	width: 100%;
	// max-width: 1920px;
	margin: 0 auto;
	align-items: center;
	position: relative;
	background-color: var(--color-white);
	overflow-x: hidden;
}

.about-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin-top: 100px;
	padding: 20px;

	@media (max-width: 767px) {
		flex-direction: column;
	}
}

.reports-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	// max-width: 1920px;
	gap: 20px;
	margin: 100px auto;
	padding: 40px;

	@media (max-width: 767px) {
		flex-direction: column;
	}
}

.zpif-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin-top: 100px;
	padding: 20px 120px;

	@media (max-width: 767px) {
		flex-direction: column;
	}
	@media (max-width: 576px) {
		padding: 20px;
	}
}

.section__title,
.company-name {
	align-self: stretch;
	margin-bottom: 60px;
	font-family: var(--font-family-bold);
	font-weight: 700;
	font-size: 38px;
	text-align: center;
	position: relative;
	color: #111827;
	letter-spacing: 0;
	line-height: normal;

	@media (max-width: 991px) {
		font-size: 28px;
		margin-bottom: 40px;
	}

	@media (max-width: 767px) {
		font-size: 28px;
		margin-bottom: 30px;
	}

	@media (max-width: 576px) {
		font-size: 18px;
		margin-bottom: 10px;
	}
}

.section__description {
	font-family: var(--font-family-regular);
	font-weight: 400;
	font-size: 18px;
	color: #111827;
	margin-bottom: 20px;
	@media (max-width: 1200px) {
		font-size: 18px;
	}

	@media (max-width: 1024px) {
		font-size: 14px;
	}

	&--text {
		text-align: center;
	}
}

.main-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	// max-width: 1920px;
	align-items: center;
	position: relative;
	background-color: var(--color-white);
}

.logo {
	position: relative;
	width: 182px;
	height: 50px;

	@media (max-width: 576px) {
		width: 125px;
		height: 50px;
	}
}

.download-item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
	padding: 10px;
	border-top: 1px solid var(--color-white);

	&__text {
		font-family: var(--font-family-regular);
		font-weight: 400;
		font-size: 24px;
		color: var(--color-white);

		@media (max-width: 576px) {
			font-size: 20px;
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid var(--color-white);

		img {
			width: 20px;
			height: 20px;
		}
	}
}

.mission {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;

	// padding: 110px 120px 20px 120px;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	min-height: calc(60vh - 110px);

	@media (max-width: 1199px) {
		// padding: 110px 20px 20px 20px;
		min-height: calc(70vh - 90px);
	}

	@media (max-width: 991px) {
		// padding: 110px 20px 20px 20px;
		min-height: calc(60vh - 70px);
	}

	@media (max-width: 576px) {
		// padding: 100px 10px 20px 10px;
		min-height: calc(50vh - 50px);
	}

	&--light {
		background-color: var(--color-white);

		@media (max-width: 576px) {
			/* Дополнительные стили при необходимости */
		}
	}

	&--dark {
		background-color: var(--color-white);

		@media (max-width: 576px) {
			/* При необходимости добавьте другие стили */
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		padding: 0 120px;
		width: 100%;
		color: #111827;
		box-sizing: border-box;

		@media (max-width: 1199px) {
			padding: 0 20px;
		}

		@media (max-width: 576px) {
			padding: 0 10px;
		}
	}

	&__statement {
		font-family: var(--font-family-regular);
		font-weight: 700;
		font-size: 40px;
		text-align: center;
		color: var(--main-4);
		line-height: normal;

		@media (max-width: 991px) {
			font-size: 32px;
		}

		@media (max-width: 767px) {
			font-size: 28px;
		}

		@media (max-width: 576px) {
			font-size: 24px;
		}
	}

	&__description {
		font-family: var(--font-family-regular);
		font-weight: 400;
		font-size: 18px;
		text-align: center;
		color: var(--main-4);
		line-height: normal;

		@media (max-width: 576px) {
			font-size: 14px;
		}
	}
}
